* {
  font-family: "Poppins", "sans-serif";
}
.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
.navbar {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid darkblue;
}
.logo {
  font-weight: bold;
  font-size: 20px;
  color: rgb(16, 16, 180);
}
.meny,
a {
  text-decoration: none;
  margin: 10px;
}
a:hover {
  text-decoration: underline;
  color: darkblue;
}
.btn {
  padding: 12px;
  width: 120px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(15, 15, 198, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );

  color: white;
  border-radius: 25px;
  border: none;
}
.btn:hover {
  cursor: pointer;
  background-color: darkblue;
}
a:active {
  color: red;
}
.hero-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.hero {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.hero-left {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
.hero-title {
  color: rgb(16, 16, 180);
}
.hero-p {
  max-width: 450px;
  color: lightslategray;
  font-size: 15px;
}
.hero-btn {
  width: 200px;
  padding: 16px;
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 20px;
}
.hero-img {
  width: 400px;
  height: 400px;
}
.hub {
  display: flex;
  justify-content: center;
}
.hubinfo {
  margin-top: 40px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  color: white;
  border-radius: 10px;
  align-items: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 172, 255, 1) 0%,
    rgba(15, 15, 198, 1) 100%
  );
}
.hubleft {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}
.hubleft p {
  font-size: 14px;
}
.hubright {
  display: flex;
  align-items: center;
  margin: 15px;
}
.hubicon {
  font-size: 24px;
  padding: 12px;
  background-color: aliceblue;
  margin: 8px;
  border-radius: 100%;
}
.hubicon:hover {
  cursor: pointer;
}
